@import "bootstrap/bootstrap.less";
@import "jquery-ui.less";
.content {
    display: none;
    &.loaded {
        display: block;
    }
}

.header {
    background-color: #003966;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
}

.panel-buscas {
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 0;
    .slogan {
        color: #40bffb;
        text-align: center !important;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .panel-heading {
        background: #40bffb;
        text-align: center !important;
        text-transform: uppercase !important;
        color: #fff;
        padding: 1;
        .h1 {
            margin: 8px;
            font-size: 26px;
            i {
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                top: -1px;
                border: 2px #fff solid;
                font-size: 18px;
                padding: 5px 6px 5px 5px;
            }
        }
    }
    .panel-body form label {
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #656565;
        font-size: 13px;
        padding-top: 0;
        &.error {
            color: #a94442;
            font-size: 11px;
        }
    }
    .form-busca-hotel {
        .busca-group-addon {
            position: relative;
        }
        .busca-group-addon .icon-location,
        .busca-group-addon .icon-calendar {
            color: #ff8a21;
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .busca-group-addon .icon-location[disabled],
        .busca-group-addon .icon-calendar[disabled] {
            color: gray;
        }
        .busca-group-addon .input-busca-hotel,
        .busca-group-addon .daterange {
            outline: none;
            padding-left: 30px;
            background-color: white;
        }
        .busca-group-addon .daterange[disabled] {
            background-color: #D0CACA;
        }
        .busca-group-addon .input-busca-hotel:focus,
        .busca-group-addon .daterange:focus {
            outline: none;
            border: 1px solid #ff8a21;
            box-shadow: 0 0 0px #719ECE;
        }
        .no-data label {
            font-size: 10px;
            color: #656565;
        }
        // .no-data input[type=checkbox] {
        //     margin-top: 0;
        //     margin-bottom: 0;
        // }
    }
}

.btn-orange {
    border: rgba(235, 116, 9, 0.5) 0 solid;
    width: 120px;
    color: #fff !important;
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 12px;
    background: #ff8a21;
}

.icon-search {
    font-size: 12px;
}

.datepicker {
    &.form-control[readonly] {
        cursor: pointer;
    }
}

.ui-datepicker {
    table {
        color: #656565;
        font-size: 12.5px;
    }
}

.ui-widget {
    font-size: 12.5px;
}

.ui-widget-header {
    border: 1px solid #ff8a21;
    background: #ff8a21;
}

.box-result-busca {
    .item-busca {
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 3px;
        border: 1px solid #e5e5e5;
        div {
            padding: 0;
        }
        .item-foto {
            text-align: center;
            img {
                max-width: 300px;
            }
        }
        .item-info {
            padding: 10px 10px 0px 10px;
            .localidade {
                color: #656565;
                margin: 5px 0 0 0;
                font-size: 13px;
            }
            .nome {
                color: #000;
                font-size: 22px;
                font-weight: bold;
            }
        }
        .item-detalhe {
            background: #f5f5f5;
            padding: 10px;
            border-left: 1px dashed #e5e5e5;
            color: #656565;
            font-size: 12px;
            text-align: center;
            .item-preco {
                margin-bottom: 20px;
                text-align: left;
                .lb-partir {
                    color: #656565;
                    font-size: 12px;
                    font-weight: bold;
                    margin-bottom: 0;
                }
                .moeda {
                    color: #000;
                    font-size: 12px;
                    font-weight: bold;
                }
                .valor {
                    color: #000;
                    font-size: 20px;
                    font-weight: bold;
                }
                .disponibilidade {
                    color: red;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .btn-verhotel {
                max-width: 300px;
                width: 100%;
            }
        }
    }
}

@media (min-width:768px) {
    .box-result-busca .item-busca .item-detalhe .item-preco {
        height: 160px;
    }
}

.ui-autocomplete {
    max-height: 130px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    .busca-autocomplete {
        color: #656565;
        &.ui-state-focus {
            border: 1px solid #e5e5e5;
            font-weight: normal;
            color: #8E8888;
        }
    }
}

.validation-error {
    border-color: #EC1212;
}

.has-error .form-control {
    border-color: #a94442!important;
}

.not-found {
    text-align: center;
    margin-top: 40px;
}